body {
    background-color: #625489;
}

img {
    position: absolute;
    margin-top: 10%;
    max-width: 100%;
    height: auto;
    display: block;
    width: 500px;
    margin-left: 47%;
}

h1 {
    position: absolute;
    display: block;
    margin-top: 35%;
    font-size: 30px;
    margin-left: 43%;
    color: white;
    text-shadow: 2px 2px 8px black;
 }

.btn-primary {
    background-color: #4A4A4A;
    height: 50px;
    color: white;
    padding 14px 24px;
    border: 0 none;
    margin-left: 200%;
    float: left;
}

.btn-secondary {
    background-color: #4A4A4A;
    color: white;
    height: 50px;
    padding: 14px 24px;
    border: 0 none;
    margin-left: 425%;
}

.btn-primary:hover {
    background-color: #626262 !important;
}

.row {
    margin-top: 5%;
}

.scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    background-color: #4A4A4A;
}

header {
    background: #152637;
}

.example-one-header {
    border-radius: 3px;
}

.logo {
    text-align: center;
    font-weight: 700;
    color: #4A4A4A;
    border-right: 1px solid #4A4A4A
    padding: 12px 24px 13px;
}

.scroll-nav-item {
    padding: 12px 25px 13px;
    cursor: pointer;
}

.scroll-nav-item:not(:last-child) {
    border-right: 1px solid rgba(114,124,135,0.2);
}

* {
    box-sizing: border-box;
}

.example-one {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    max-width: 685px;
    margin: 10vmin auto 0;
    color: #64CCE3;
    line-height: 1.5;
    font-size: 0;
}

.logo, .scroll-nav-item {
    color: white;
    font-size: 14px;
}

.logo, .scroll-nav-item, .vertical-align-middle {
    display: inline-block;
    vertical-align: middle;
}

.title {
    text-align: center;
    margin: 24px 0 6px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: white;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.scroll-widget {
    width: 100px;
    height: 100px;
}