@import '~antd/dist/antd.css';

.account-div {
  position: absolute;
  top: 9%;
  text-align: center !important;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.pies-and-big-numbers {
  margin-top: 10px;
}

.big-numbers {
  margin-top: 10px;
}

#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.lets-try-to-edit-antd {
  padding-top: 68px;
}

.donut {
  width: 500px;
  max-height: 500px;
  text-align: center !important;
  margin: auto !important;
}
