.center-review-div {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.center-review-div-one {
  height: 100%;
  width: 100%;
  margin-top: 10%;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.calendar {
  text-align: center !important;
  margin: auto !important;
}
/*change back to normal */
body {
  background-color: #ffffff !important;
}

.input-field-login {
  text-align: center !important;
  margin: auto !important;
  width: 100px;
  align-items: center !important;
  justify-content: center !important;
}

.input-field-form {
  background-color: 'red';
}

.smalltext-signup {
  font-color: 'white' !important;
}

.n-o-ta {
  color: #000000 !important;
  font-family: Helvetica, sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  align-items: center !important;
  margin: auto !important;
  text-align: center !important;
}

.n-o-t {
  color: #000000 !important;
  text-align: center !important;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: Helvetica, sans-serif;
  margin: auto !important;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 250px;
  align-items: center !important;
}

.hr-div {
  padding-bottom: 10px !important;
}

.style-eight {
  overflow: visible; /* For IE */
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
.style-eight:after {
  content: '§';
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

.submit-button {
  background-color: #ffffff !important;
  border: 2px solid #00fa9a;
  border-radius: 4px;
  color: #000000 !important;
  padding: 15px 25px;
  text-decoration: none;
  margin-top: 100px;
  font-size: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: auto !important;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
}

.submit-button:hover {
  background-color: #00fa9a !important;
  color: white !important;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
}

.button-div {
  text-align: center !important;
  margin-top: 5% !important;
  justify-content: center !important;
}

.you-should-probably-green {
  font-size: 36px;
  font-family: Helvetica, sans-serif;
  color: green;
}

.you-should-probably-red {
  font-size: 36px;
  font-family: Helvetica, sans-serif;
  color: red;
}

.you-should-probably {
  font-size: 36px;
  font-family: Helvetica, sans-serif;
}

.pie-div {
  width: 100%;
  height: 100%;
}

.divSquare {
  width: 40%;
  height: 400px;
  margin: 4px;
  border: 0.5px solid #808080;
  border-radius: 5px;
  float: left;
  text-align: center;
}

.simple-clear {
  clear: both;
}

.thermo {
  margin: auto !important;
  align-items: center !important;
  display: inline-block;
}

.align-sq {
  align-items: center !important;
  margin: auto !important;
  display: inline-block;
  padding-left: 100px;
  padding-right: 100px;
}

.align-sq-pie {
  align-items: center !important;
  margin: auto !important;
  height: 100px !important;
  display: inline-block;
  padding-left: 100px;
  padding-right: 100px;
}

.personaltable {
  margin-top: 5px;
  max-height: auto;
  overflow: scroll !important;
  overflow-y: scroll !important;
  height: auto !important;
}

.div-sq-master {
  margin-left: 50px;
}

.account-div {
  position: absolute;
  top: 9%;
  text-align: center !important;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.pies-and-big-numbers {
  margin-top: 10px;
}

.big-numbers {
  margin-top: 10px;
}

.c3-label {
  font-size: 36px !important;
}

.c3 text {
  font-size: 15px !important;
  font-family: Helvetica, Arial, sans-serif !important;
  margin-left: 100px !important;
  margin-right: 100px !important;
  fill: #505050 !important;
  font-weight: bold;
  font-style: oblique;
}

.table-div {
  height: 192px;
  overflow: scroll !important;
  overflow-y: scroll !important;
}
