.logo-ssdb {
    width: 15%;
    height: 10%;
    left: -790px;
    top: -179px;
}


.navbar {
    background-color: #4a4a4a !important;
}


.nav-item {
    margin-top: 0px;
    margin-right: 15px;
    float:right;
    font-size: 16pt;
}

.navbar-nav {
    float: right;
    color: #FFFFFF;
}

.collapse {
    padding-left: 1400px !important;
}


* {
    box-sizing: border-box !important;
      font-family: 'Helvetica', 'Arial';
}

.text-master-container {
  position: relative;
  background: #ffffff;
  z-index: 1;
  height: 90%;
  width: 90%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 30px auto 100px;
  padding: 20px;
  font-family: 'Helvetica';
  font-size: 15px; }


/* Navbar links */
.imgnav {
  float: left;
  margin-left: 10px;
  margin-top: 4px;
  max-height: 40px;
  width: 400; }

.login-imgnav {
  float: left;
  margin-left: 11px;
  margin-top: 11px;
  width: 250px;
  max-height: 150px; }


.lir-div {
  margin-right: -2% !important;
  margin-top: 6px; }

.login-itemr {
  float: right;
  display: inline;
  font-size: 15px;
  color: #4b4f54;
  text-align: center;
  margin-right: 20px;
  padding-top: 13px;
  font-family: 'Helvetica', 'Arial';
  z-index: 100;
  line-height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 13px;
  border-radius: 8px;
  text-decoration: none; }

.login-itemr-selected {
  border-bottom: 10px solid #0018a8; }

.sign-in-box {
  border: 1px solid #979797;
  border-radius: 2px;
  padding-bottom: 0px;
    float: right;
  display: inline;
  font-size: 15px;
  color: #4b4f54;
  text-align: center;
  margin-right: 20px;
  margin-top: 13px;
  font-family: 'Helvetica', 'Arial';
  z-index: 100;
  line-height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  }

.login-itemr:hover, .login-itemr:visited, .login-itemr:link, .login-itemr:active {
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.login-itemr:active {
  background-color: #0018a8;
  color: white; }


.login-navbar {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
  height: 64px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgba(190, 190, 190, 0.5);
  border-radius: 0px;
  font-family:'Helvetica', 'Arial';
  z-index: 100;
  padding-right: 64px; }
