.logo-ssdb {
    width: 15%;
    height: 10%;
    left: -790px;
    top: -179px;
}

* {
    box-sizing: border-box !important;
}


img {
    position: absolute !important;
    margin-top: 10% !important;
    max-width: 50% !important;
    height: auto !important;
    display: block !important;
    margin-left: 47% !important;
}


.navbar {
    background-color: #4a4a4a !important;
}

h1 {
    position: absolute !important;
    display: block !important;
    margin-top: 35% !important;
    font-size: 30px !important;
    margin-left: 43% !important;
    color: white !important;
    text-shadow: 2px 2px 8px black !important;
 }



.row {
    margin-top: 5% !important;
}

.scroll {
    white-space: nowrap !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
    background-color: #4A4A4A !important;
}

header {
    background: #131722 !important;
}

.example-one-header {
    border-radius: 3px !important;
}

.logo {
    text-align: center !important;
    font-weight: 700 !important;
    color: #4A4A4A !important;
    border-right: 1px solid #4A4A4A !important;
    padding: 12px 24px 13px !important;
}

.nav-item {
    margin-top: 0px;
    margin-right: 15px;
    float:right;
    font-size: 16pt;
}

.navbar-nav {
    float: right;
    color: #FFFFFF;
}

.collapse {
    padding-left: 1400px !important;
}

.scroll-nav-item {
    padding: 12px 25px 13px !important;
    cursor: pointer !important;
}

.scroll-nav-item:not(:last-child) {
    border-right: 1px solid rgba(114,124,135,0.2) !important;
}

* {
    box-sizing: border-box !important;
}

.example-one {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    max-width: 685px !important;
    margin: 10vmin auto 0 !important;
    color: #64CCE3 !important;
    line-height: 1.5 !important;
    font-size: 0 !important;
}

.logo, .scroll-nav-item {
    color: white !important;
    font-size: 14px !important;
}

.logo, .scroll-nav-item, .vertical-align-middle {
    display: inline-block !important;
    vertical-align: middle !important;
}

.tradingview-widget-copyright{
	position: relative;
    top: 735px;
    right:  735px;
}