.center-review-div {
    text-align: center !important;
    margin: auto !important;
}

.calendar {
    text-align: center !important;
    margin: auto !important;
}

body {
    background-color: #FFFFFF !important;
}

.input-field-login {
    text-align: center !important;
    margin: auto !important;
    width: 100px;

}

.input-field-form {
    background-color: 'red';
}

.smalltext-signup {
    font-color: 'white' !important;
}

.n-o-ta {
    color: #FFFFFF !important;
    font-family: Helvetica, sans-serif;
}


.n-o-t {
    color: #FFFFFF !important;
    margin-bottom: 100px;
    font-family: Helvetica, sans-serif;
}

.submit-button {
  background-color: #FFFFFF !important;
  border: 2px solid #00FA9A;
  border-radius: 4px;
  color: #000000 !important;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 100px;
  font-size: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.submit-button:hover {
  background-color: #00FA9A !important;
  color: white !important;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
}

