.center-review-div {
    text-align: center !important;
    margin: auto !important;
}

.calendar {
    text-align: center !important;
    margin: auto !important;
}

body {
    background-color: #5B5183 !important;
}

.input-field-login {
    text-align: center !important;
    margin: auto !important;
    width: 100px;

}

.input-field-form {
    background-color: 'red';
}

.smalltext-signup {
    font-color: 'white' !important;
}

.n-o-ta {
    color: #FFFFFF !important;
    font-family: Helvetica, sans-serif;
}


.n-o-t {
    color: #FFFFFF !important;
    margin-bottom: 100px;
    font-family: Helvetica, sans-serif;
}

.submit-button {
  background-color: #FFFFFF !important;
  border: 2px solid #00FA9A;
  border-radius: 4px;
  color: #000000 !important;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 100px;
  font-size: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.submit-button:hover {
  background-color: #00FA9A !important;
  color: white !important;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
}

h1 {
    position: absolute !important;
    display: block !important;
    margin-top: 35% !important;
    font-size: 30px !important;
    margin-left: 43% !important;
    color: white !important;
    text-shadow: 2px 2px 8px black !important;
 }



.row {
    margin-top: 5% !important;
}

.scroll {
    white-space: nowrap !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
    background-color: #4A4A4A !important;
}

header {
    background: #152637 !important;
}

.example-one-header {
    border-radius: 3px !important;
}

.logo {
    text-align: center !important;
    font-weight: 700 !important;
    color: #4A4A4A !important;
    border-right: 1px solid #4A4A4A !important;
    padding: 12px 24px 13px !important;
}

.scroll-nav-item {
    padding: 12px 25px 13px !important;
    cursor: pointer !important;
}

.scroll-nav-item:not(:last-child) {
    border-right: 1px solid rgba(114,124,135,0.2) !important;
}

* {
    box-sizing: border-box !important;
}

.example-one {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    max-width: 685px !important;
    margin: 10vmin auto 0 !important;
    color: #64CCE3 !important;
    line-height: 1.5 !important;
    font-size: 0 !important;
}

.logo, .scroll-nav-item {
    color: white !important;
    font-size: 14px !important;
}

.logo, .scroll-nav-item, .vertical-align-middle {
    display: inline-block !important;
    vertical-align: middle !important;
}

.title {
    text-align: center !important;
    margin: 24px 0 6px !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    letter-spacing: .2em !important;
    color: white !important;
}

.scroll::-webkit-scrollbar {
    display: none !important;
}

.scroll-widget {
    width: 100px !important;
    height: 100px !important;
}

.tradingview-widget-copyright{
	position: relative;
    top: 735px;
    right:  735px;
}