body {
    background-color: #FFFFFF !important;
}


.trading-widget-react {
    float: left !important;
    margin-left: 0px;
    margin-top: 30% !important;
    top: 50% !important;
}

.img-responsive {
    position: relative;
    top: 50%;
    right: 50%;
}

.blue-text {
    top: 0% !important;
      justify-content: center;
    left: 50% !important;
}


* {
  font-family: 'Helvetica', 'Arial';
  margin-bottom: 0px !important;
   }


.tradingview-widget-container {
    margin-top: 5% !important;
}

.bold-new-take {
   font-size: 36px;
   font-family: 'Helvetica', 'Arial';
   margin-top: -3% !important;

}


.bold-new-take b {
    font-family: 'Helvetica', 'Arial';
    text-shadow: 1px .5px #0018a8;
}

.bnt-div {  height: 1%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

