body {
    background-color: #625489 !important;
}

h1 {
    position: absolute !important;
    display: block !important;
    margin-top: 35% !important;
    font-size: 30px !important;
    margin-left: 43% !important;
    color: white !important;
    text-shadow: 2px 2px 8px black !important;
 }

.row {
    margin-top: 5% !important;
}



header {
    background: #152637 !important;
}

.example-one-header {
    border-radius: 3px !important;
}

.scroll-nav-item {
    padding: 12px 25px 13px !important;
    cursor: pointer !important;
}

.scroll-nav-item:not(:last-child) {
    border-right: 1px solid rgba(114,124,135,0.2) !important;
}



.tradingview-widget-copyright{
	position: relative;
    top: 735px;
    right:  735px;
}